@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root{
    --background: #0f0f0f;
    --foreground: #ffffff;
    --primary: #e50914;
    --border: #E2E8F0;
    --merah: #CD2026;
    --hijau: #5EBA7D;
    --kuning: #F0AD4E;
    --biru: #337AB7;
    --muted: #F1F5F9;
    --radius: 0.5rem;
  }
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

a{
  color: var(--primary);
}
a:focus, a:hover {
  color: var(--foreground);
}
/*
scroll things
*/
*::-webkit-scrollbar {
  width: 10px;
}
/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
*::-webkit-scrollbar-thumb {
  background: #e50914; 
}
/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555; 
}